@import './containers/box.css';
@import './containers/hbox.css';
@import './containers/stack.css';
@import './containers/vbox.css';

@import './controls/button.css';
@import './controls/input.css';
@import './controls/label.css';
@import './controls/link.css';

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  src: url( '../fonts/sans/IBMPlexSans-Regular.woff2' ) format( 'woff2' );
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  src: url( '../fonts/sans/IBMPlexSans-Medium.woff2' ) format( 'woff2' );
}      

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  src: url( '../fonts/sans/IBMPlexSans-SemiBold.woff2' ) format( 'woff2' );
}            
