adc-label {
  box-sizing: border-box;
  display: block;
  position: relative;
}

adc-label[concealed] {
  visibility: hidden;
}        

adc-label[hidden] {
  display: none;
}        

adc-label[ignore]::part( label ) {
  user-select: none;
}                

adc-label[truncate]::part( label ) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

adc-label::part( label ) {
  background-color: var( --label-background-color, transparent );
  box-sizing: border-box;
  color: var( --label-color, #161616 );
  cursor: var( --label-cursor, default );
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: var( --label-font-size, 14px );
  font-weight: var( --label-font-weight, 400 );
  line-height: var( --label-line-height );
  margin: 0;
  padding: 0;
  text-align: var( --label-text-align, left );
  text-rendering: optimizeLegibility;
  width: 100%;
}

adc-label[disabled]::part( label ) {
  color: var( --label-disabled-color, #c6c6c6 );
}
