adc-link {
  box-sizing: border-box;
  display: block;
  position: relative;
}

adc-link::part( button ) {
  background: none;
  border: none;
  color: #0f62fe;
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

adc-link[disabled]::part( button ) {
  color: #16161640;
  cursor: not-allowed;
}

adc-link[inline]::part( button ) {
  text-decoration: underline;
}

adc-link[size=sm]::part( button ) {
  font-size: 12px;
}

adc-link[size=xl]::part( button ) {
  font-size: 16px;
}
